/* Css code  */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root{
    --head-font: 'Hind', sans-serif;
    --body-font: 'Source Sans Pro', sans-serif;
    --green: #519D42;
    --gray: #F3F4F6;
    --dark-gray: #4B5563;

}
html{
    scroll-behavior: smooth;
}
.color-light, .text-light{
    color: #868681 !important;
}
.green-color, .text-green{
    color: var(--green);
}
.gray-color, .text-gray{
    color: var(--gray);
}
.dark-gray-color, .text-dark-gray{
    color: var(--dark-gray);
}
body{
    font-family: var(--body-font);
}
a{
    color: var(--dark-gray);
    text-decoration: none;
}
a:hover{
    color: var(--green) !important;
}
.h2, h2{
    font-size: 2.61rem !important;
    font-weight: 400 !important;
}
.h4, h4 {
    font-size: 1.7rem !important;
}
button{
    border: none;
    background: none;
}
.btn-secondary {
    color: var(--green) !important;
    background-color: white !important;
    border-color: var(--green) !important;
    padding: 6px 30px !important;
}
.btn-primary {
    color: #fff !important;
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    padding-left: 2.75rem !important;
    padding-right: 2.75rem !important;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff !important;
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    box-shadow: 0 0 0 0.25rem rgba(81, 157, 66, .5) !important;
}
.btn-primary:hover, .btn-secondary:hover {
    color: #fff !important;
    background-color: #428136 !important;
    border-color: #428136 !important;
}
.fade:not(.show) {
    opacity: initial;
}
.base-button{
    border: 1px solid var(--green) !important;
    border-radius: 5px !important;
    width: 100% !important;
    padding: 5px !important;
    margin-top: 5px !important;
    color: var(--green) !important;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: white !important;
    color: var(--green) !important;
}


/* Go to top */
.go-to-top {
    background: var(--green);
    position: fixed;
    bottom: 16px;
    right:32px;
    width:30px;
    height:30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color: white;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    padding: 20px;
}
.go-to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}
.go-to-top:hover{
    color: whitesmoke;
    background: #428136;
}
i.fa.fa-arrow-up {
    font-size: 20px;
}


/* -------------------- Header -------------------- */
#header{
    font-family: var(--head-font) !important;
    box-shadow: 0 1.2px 8px rgba(0, 0, 0, 0.1);
}
.bg-color{
    background-color: #1F2937 !important;
    border-radius: 50% !important;
    color: #fff !important;
}
.translate-items{
    transform: translate(-35%,-50%)!important;
}
.btn .badge {
    top: 5px !important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--green);
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--bs-green);
}
.navbar-brand{
    width: 20%!important;
    margin-top: 10px;
}


/* -------------------- Footer -------------------- */
.social-media a {
    padding: 8px 10px;
    color: white;
    background: #8F949B;
    border-radius: 50%;
    margin: 0 8px;
}
.social-media a svg{
    fill: white;
    vertical-align: -2px;
}
/* .social-media a:nth-child(1){
    padding: 8px 12px;
} */
#footer ul{
    list-style: none;
    padding-left: 0px;
}
#footer a{
    color: black;
    text-decoration: none;
}
.icon-rtl {
    padding: 5px 25px 5px 10px;
    background: url(../images/send.png) no-repeat right;
    background-size: 20px;
    width: 75%;
    border: 1px solid rgb(0,0,0,0.2);
}
#footer p.text-dark-gray {
    font-size: 13px;
}


/* -------------------- Search Bar -------------------- */
.search {
    border: 1px solid #BABABA;
    border-radius: 5px;
    height: 35px;
    width: 300px;
    padding: 20px;
    background: var(--gray);
    position: relative;
}
.search:focus {
    outline: none;
    padding-left: 25px;
    background: url(../images/search-1.png) no-repeat left;
    background-size: 15px;
    border-color: #7AB0E6;
    background-position-x: 6px;
}
#mglass {margin-left: 5px;}
.icon {
    background: url(../images/search-1.png) no-repeat left;
    padding-left: 40px;
    background-size: 15px;
    background-position-x: 10px;
    background-position-y: 12px;
}



/* ---------------------------------------- Home Page ---------------------------------------- */

/* -------------------- Slideshow --------------------*/
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 4s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* --------------------  Latest Products --------------------  */
.product {
    overflow: hidden;
    position: relative;
    padding: 0 20px;
}
.product-container {
    padding: 2rem 8rem;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar {
    display: none;
}
.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 370px;
    margin-right: 40px;
}
.product-image {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    height: 260px;
    overflow: hidden;
    background: var(--gray);
}
.product-image img{
    width: 100% !important;
}
.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-btn {
    position: absolute;
    top: 0%;
    right: -5%;
    transform: translateX(-50%);
    padding: 10px;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.5s;
}
.card-btn svg {
    width: 1.13em;
    height: 1.13em;
}
.product-card:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    color: #000;
}
.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}
/* .product-brand {
    text-transform: uppercase;
} */
.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}
.discountedPrice {
    margin-left: 5px;
}
.price {
    opacity: 0.5;
    text-decoration: line-through;
}
.pre-btn,
.nxt-btn {
    border: none;
    width: 7vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
    z-index: 8;
}
.pre-btn {
    left: 0;
    transform: rotate(180deg);
}
.nxt-btn {
    right: 0;
    width: 10vw;
}
.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}
.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.collection {
    position: relative;
}
.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}
.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}

/* Custom slider css */
.product-info button {
    border: 1px solid var(--green);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    color: var(--green);
}
h4.product-brand {
    margin: 0;
}
.cntrl-1{
    background-color: #EAEAEA;
    border-radius: 50%;
    padding: 7px 10px 3px 8px;
}
.cntrl-2{
    background-color: #EAEAEA;
    border-radius: 50%;
    padding: 7px 7px 2px 10px;
}
.pre-btn img, .nxt-btn img {
    background: #EAEAEA;
    padding: 10px;
    border-radius: 50%;
}
.product-image .quick-view{
    position: absolute;
    opacity: 0;
}
.product-image:hover .quick-view{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background: white;
    border: 1px solid #d0d1d4;
    /* border-top-right-radius: 5px;
    border-top-left-radius: 5px; */
    border-radius: 2px;
    text-decoration: none;
    color: black;
    opacity: 1;
}



/* -------------------- Shop By category -------------------- */
.home-cat{
    background-color: var(--gray);
}
.col-md-4.cat-card {
    padding: 20px 60px;
}


/* -------------------- Unique Selling Point -------------------- */
.usp{
    width: 100%;
    height: 14rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.2rem;
    position: relative;
}
.usp1-bg{
    background-image: url(../images/usp-1.png);
}
.usp2-bg{
    background-image: url(../images/usp-2.png);
}
.usp3-bg{
    background-image: url(../images/usp-3.png);
}
.usp p{
    position: absolute;
    width: 100%;
    top: 40%;
    margin: 0;
    line-height: 3.5rem;
    color: white;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.2);
}


/* --------------------  Testimonials -------------------- */
.testimonials{
    background-color: var(--gray);
    overflow: hidden;
}
/* Card carousel */
#myCarousel {
    margin-top: 20px;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
@media (min-width: 768px) {
    .carousel-control-prev {
        left: -4.5rem !important;
    }
    .carousel-control-next {
        right: -4.5rem !important;
    }
}
.testimonials .cntrl-1{
    background-color: #EAEAEA;
    border-radius: 50%;
    padding: 7px 10px 3px 8px;
}
.testimonials .cntrl-2{
    background-color: #EAEAEA;
    border-radius: 50%;
    padding: 7px 7px 2px 10px;
}
.carousel-control-prev-icon,  .carousel-control-next-icon{
    background-image: url(../images/arrow.png);
}
.carousel-control-prev-icon{
    transform: rotate(180deg);
}
.testimonials .col-md-4 {
    padding: 2rem 1rem;
}
/* .card-body::before{
    font-family: FontAwesome;
    content: "ï„";
    position: relative;
    left: 45%;
    font-size: 2rem;
} */
.card:after{
    z-index: 1;
    left: 50%;
    margin-left: -15px;
    content: "";
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    transform: rotate(45deg);
    background: white;
}
.carousel-control-prev-icon {
    transform: rotate(0deg);
}
.card-body svg{
    height: 2em;
    width: 2em;
    margin: 1rem;
}

/* -------------------- Media Query -------------------- */
@media screen and (max-width: 480px){
    /* Header */
    .bag, .favourites, .account{
        display: none;
    }
    .navbar>.container {
        justify-content: start;
    }
    .navbar-brand{
        width: 35% !important;
        margin: 0px;
    }
    .navbar-brand img{
        width: 100%;
    }
    .profile {
        padding-left: 10px;
    }

    /* Latest Products */
    .product-container {
        padding: 2rem;
    }

    /* Shop by Category */
    .col-md-4.cat-card {
        padding: 15px 20px;
    }
    .h2, h2 {
        font-size: 2.11rem !important;
    }
}
@media screen and (max-width: 768px) {
    /* Footer  */
    #footer .col-md-3{
        padding-left: 6px;
    }
    .mob-responsive{
        display: flex;
        justify-content: space-around;
        padding-top: 1rem;
    }
}

/* ---------------------------------------- End of Home Page ---------------------------------------- */



a.backlink{
    color: var(--dark-gray);
    text-decoration: none;
}
a.backlink:hover{
    color: var(--dark-gray);
}

.wrap-flex{
    flex-wrap: wrap !important;
}
input[type=text].search{
    background-color: var(--gray);
}

/* .facebok svg, .insta svg{
    vertical-align: -2px !important;
} */



/* Login Signup  */
/* -------------------- LogIn -------------------- */

.btn-link>a{
    color:  #519D42 !important;
    background-color: transparent !important;
    text-decoration: none !important ;
  }
.password-container{
    width: 82% !important;
    position: relative;
  }
  .password-container input[type="password"],
  .password-container input[type="text"]{
    width: 82%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
  }
  .password-icon{
    position:absolute;
    top: 42%;
    right: 20%;
    cursor: pointer;
  }
  

.modal-header{
    border-bottom: none !important;
      font-family: 'Source Sans Pro';
}

.submit-btn{
    background-color: #519D42;
    width: 82% !important;
    border: none;
    height: 38px;
    border-radius: 6px;
    color: white;
   margin: 1rem 0rem 1rem;
}
.email,.mob-no,.pass-sign,.pass-sign-confirm{
    height: 34px;
    width: 82% !important;
    padding: 14px;
    font-size: 14px;
      font-family: 'Source Sans Pro';

}



#LogIn input[type=password],#LogIn input[type=email]{
    border: 1px solid #519D42;
    border-radius: 3px;
}
.frm-container{
    display: flex;
    flex-direction: column;
}
.forgot-pass-link>a{
    color:#4B5563 !important;
    background-color: transparent !important;
    text-decoration: none !important ;
    margin: 0rem 0rem 0rem -16rem;
    font-size: 12px;
   
  }

.login-link>a{
    color:  #519D42 !important;
    background-color: transparent !important;
    text-decoration: none !important ;
    cursor: pointer;
  }
  .log-link{
    font-size: 14px;
  }
  .nsm7Bb-HzV7m-LgbsSe.hJDwNd-SxQuSe.i5vt6e-Ia7Qfc.uaxL4e-RbRzK {
    margin-left: 2rem !important;
    font-size: 13px !important;
}
.facebook-login-button{  
width: 83%!important ;
height: 40px !important;
border: 1px solid #D1D5DB !important; 
border-radius: 4px !important;
color: #1D4ED8 !important;
font-size: 14px !important;
background-color: white;
font-size: 13px !important;
}

/* --------------------  SignUp -------------------- */
.show-popup{
background-color: #519D42;
    width: 50%;
    border: none;
    height: 38px;
    border-radius: 6px;
    color: white;
    margin: 2rem 0rem;
}

.modal-header{
    border-bottom: none !important;
    font-family: 'Source Sans Pro';
}

.submit-btn{
    background-color: #519D42;
    width: 82% !important;
    border: none;
    height: 38px;
    border-radius: 6px;
    color: white;
    margin: 2rem 0rem 1rem;
}
.signemail,.mob-no,.pass-sign,.pass-sign-confirm{
    height: 34px;
    width: 82% !important;
    padding: 14px;
    font-size: 14px;
    font-family: 'Source Sans Pro';

}
.f-name,.l-name{
    margin: 0rem 0.27rem 1.5rem !important;
    height: 34px;
    width: 39.5%;
    color: #4B5563;
    font-family: 'Source Sans Pro';
    padding: 14px;
    font-size: 14px;
}
.serch-bar {
    background-color: var(--gray);
}

/* #header input[type=text],input[type=password],input[type=email],input[type=number],input[type=tel],[textarea]:hover {
    border: 0;
    border-radius: 0;
    background-color: white;
} */
.frm-container{
    display: flex;
    flex-direction: column;
}
.login-link>a{
    color:  #519D42 !important;
    background-color: transparent !important;
    text-decoration: none !important ;
}
.g-btn{
    margin: 0rem 7rem !important;
    width: 50% !important;
}
.fb-login-button{
    border-radius: 3px;
    color: #1D4ED8 !important;
    background-color: none !important;  
}
.fb-button-main- {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 3px  !important;
    background-color: white !important; 
    color: #1D4ED8 !important;
    border: 1px solid !important;
    font-weight: bold;
}
.md-body>img{
    height: 58px;

}
.madal-title{
    margin-bottom: none !important; 
    padding: 1rem;
}
.modal-submit-btn{
background-color: #519D42;
    width: 82% !important;
    border: none;
    height: 38px;
    border-radius: 6px;
    color: white;
    margin: 0rem 0rem 1rem;
}
.md-body>p{
    margin-top: 3rem;
}
