.order-history .product-img {
    padding: 0 2rem 0.5rem;
}
.order-history .product-discr {
    padding: 0;
}
.order-history .status{
    text-align: end;
    margin-top: 3rem !important;
    padding-right: 0.5rem;
}
.order-history .btn-secondary {
    color: var(--green) !important;
    background-color: white !important;
    border-color: var(--green) !important;
    padding: 6px 40px !important;
}
.order-history .invoice.btn-danger {
    color: #fff !important;
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.order-history .history hr {
    width: 98%;
    margin: 1rem 10rem 1.2rem 0rem;
}
.order-history .history {
    height: 720px !important;
    overflow: auto;
}
